// Custom styles.

.headband, .site-meta, .back-to-top, .posts-expand .post-title-link::before{
	background: $dark-green
}
.posts-expand .post-title-link:hover{
	color: $dark-green
}
.sidebar a:hover{
	color: $light-green;
	::before{
		color: $light-green;
	}
	.site-state-item-name{
		color: $light-green;
	}
}
.links-of-author-item:hover a{
	::before{
		color: white;
	}
	color: white;
	background: $light-green;
}
.site-subtitle{
	color: white
}
.busuanzi-count:before{
	display:none;
}
@media screen and (min-width: 1200px){
	.content-wrap, .header-inner, .sidebar-inner{
		box-shadow: 0 6px 8px 2px rgb(216, 216, 216);
	}
}